In [17]:
import sqlite3
import time
import datetime
import random

conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

def create_table():
    c.execute("CREATE TABLE IF NOT EXISTS stuffToPlot(unix REAL, datestamp TEXT, keyword TEXT, value REAL)")


def data_entry():
    c.execute("INSERT INTO stuffToPlot VALUES(1452549219,'2016-01-11 13:53:39','Python',6)")
    
    conn.commit()
    c.close()
    conn.close()

def dynamic_data_entry():

    unix = int(time.time())
    date = str(datetime.datetime.fromtimestamp(unix).strftime('%Y-%m-%d %H:%M:%S'))
    keyword = 'Python'
    value = random.randrange(0,10)

    c.execute("INSERT INTO stuffToPlot (unix, datestamp, keyword, value) VALUES (?, ?, ?, ?)",
          (unix, date, keyword, value))

    conn.commit()
    time.sleep(1)

def read_from_db():
    c.execute('SELECT * FROM stuffToPlot')
    data = c.fetchall()
    print(data)
    for row in data:
        print(row)

    c.execute('SELECT * FROM stuffToPlot WHERE value = 3')
    data = c.fetchall()
    print(data)
    for row in data:
        print(row)

    c.execute('SELECT * FROM stuffToPlot WHERE unix > 1452554972')
    data = c.fetchall()
    print(data)
    for row in data:
        print(row)

    c.execute('SELECT value, datestamp FROM stuffToPlot WHERE unix > 1452554972')
    data = c.fetchall()
    print(data)
    for row in data:
        print(row[0])
    
read_from_db()
c.close
conn.close()

[(1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0), (1520132193.0, '2018-03-04 10:56:33', 'Python', 4.0), (1520132195.0, '2018-03-04 10:56:35', 'Python', 0.0), (1520132196.0, '2018-03-04 10:56:36', 'Python', 2.0), (1520132197.0, '2018-03-04 10:56:37', 'Python', 2.0), (1520132198.0, '2018-03-04 10:56:38', 'Python', 8.0), (1520132199.0, '2018-03-04 10:56:39', 'Python', 7.0), (1520132200.0, '2018-03-04 10:56:40', 'Python', 0.0), (1520132201.0, '2018-03-04 10:56:41', 'Python', 0.0), (1520132203.0, '2018-03-04 10:56:43', 'Python', 6.0), (1520132204.0, '2018-03-04 10:56:44', 'Python', 7.0)]
(1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0)
(1520132193.0, '2018-03-04 10:56:33', 'Python', 4.0)
(1520132195.0, '2018-03-04 10:56:35', 'Python', 0.0)
(1520132196.0, '2018-03-04 10:56:36', 'Python', 2.0)
(1520132197.0, '2018-03-04 10:56:37', 'Python', 2.0)
(1520132198.0, '2018-03-04 10:56:38', 'Python', 8.0)
(1520132199.0, '2018-03-04 10:56:39', 'Python', 7.0)
(1520132200.0, '2018-03-04 10:56:40', 'Python', 0.0)
(1520132201.0, '2018-03-04 10:56:41', 'Python', 0.0)
(1520132203.0, '2018-03-04 10:56:43', 'Python', 6.0)
(1520132204.0, '2018-03-04 10:56:44', 'Python', 7.0)
[]
[(1520132193.0, '2018-03-04 10:56:33', 'Python', 4.0), (1520132195.0, '2018-03-04 10:56:35', 'Python', 0.0), (1520132196.0, '2018-03-04 10:56:36', 'Python', 2.0), (1520132197.0, '2018-03-04 10:56:37', 'Python', 2.0), (1520132198.0, '2018-03-04 10:56:38', 'Python', 8.0), (1520132199.0, '2018-03-04 10:56:39', 'Python', 7.0), (1520132200.0, '2018-03-04 10:56:40', 'Python', 0.0), (1520132201.0, '2018-03-04 10:56:41', 'Python', 0.0), (1520132203.0, '2018-03-04 10:56:43', 'Python', 6.0), (1520132204.0, '2018-03-04 10:56:44', 'Python', 7.0)]
(1520132193.0, '2018-03-04 10:56:33', 'Python', 4.0)
(1520132195.0, '2018-03-04 10:56:35', 'Python', 0.0)
(1520132196.0, '2018-03-04 10:56:36', 'Python', 2.0)
(1520132197.0, '2018-03-04 10:56:37', 'Python', 2.0)
(1520132198.0, '2018-03-04 10:56:38', 'Python', 8.0)
(1520132199.0, '2018-03-04 10:56:39', 'Python', 7.0)
(1520132200.0, '2018-03-04 10:56:40', 'Python', 0.0)
(1520132201.0, '2018-03-04 10:56:41', 'Python', 0.0)
(1520132203.0, '2018-03-04 10:56:43', 'Python', 6.0)
(1520132204.0, '2018-03-04 10:56:44', 'Python', 7.0)
[(4.0, '2018-03-04 10:56:33'), (0.0, '2018-03-04 10:56:35'), (2.0, '2018-03-04 10:56:36'), (2.0, '2018-03-04 10:56:37'), (8.0, '2018-03-04 10:56:38'), (7.0, '2018-03-04 10:56:39'), (0.0, '2018-03-04 10:56:40'), (0.0, '2018-03-04 10:56:41'), (6.0, '2018-03-04 10:56:43'), (7.0, '2018-03-04 10:56:44')]
4.0
0.0
2.0
2.0
8.0
7.0
0.0
0.0
6.0
7.0